[submodule "doc-storage-frontend"]
	path = doc-storage-frontend
	url = https://github.com/saizaax/doc-storage-frontend
[submodule "doc-storage-backend"]
	path = doc-storage-backend
	url = https://github.com/saizaax/doc-storage-backend
